<p style="text-align: left;"><span class="col-md-4">Bed Rooms</span> : <span><%= @flat.bed_room%></span></p>
<p style="text-align: left;"><span class="col-md-4">Sqft</span> : <span><%= @flat.sq_ft%></span></p>
<p style="text-align: left;"><span class="col-md-4">Status</span> : <span><%= flat_status(@flat)%></span></p>
<p style="text-align: left;"><span class="col-md-4">Rent(Rs)</span> : <span><%= @flat.rent%></span></p>
<p style="text-align: left;"><span class="col-md-4">Availability</span> : <span><%= flat_availability(@flat)%></span></p>