<%= link_to "Add floors", new_floor_path(block_id: @block.id), class: "btn btn-success btn-sm pull-right"%>
<table class="table table-bordered table-hover table-responsive">
	<thead>
		<th>Name</th>
		<th>Flats</th>
		<th>Manage</th>
	</thead>
	<tbody>
		<% @floors.each do |floor|%>
			<tr>
				<td><%= link_to floor.name, floor_path(floor)%></td>
				<td><%= floor.flats.count%></td>
				<td>
					<u><%= link_to "Edit", edit_floor_path(floor), class: "btn btn-warning btn-sm"%></u>
					<u><%= link_to "Delete", floor, method: :delete, class: "btn btn-danger btn-sm"%></u>
				</td>
			</tr>
		<%end%>
	</tbody>
</table>