<%= link_to "Add apartment", new_apartment_path, class: "btn btn-success btn-sm pull-right"%>
<table class="table table-bordered table-hover table-responsive">
	<thead>
		<th>Apartments</th>
		<th>Blocks</th>
		<th>Flats</th>
		<th>Manage</th>
	</thead>
	<tbody>
		<% @apartments.each do |ap|%>
			<tr>
				<td><%= link_to ap.name, apartment_path(ap)%></td>
				<td><%= ap.blocks.count%></td>
				<td><%= ap.no_of_flats%></td>
				<td>
					<u><%= link_to "Edit", edit_apartment_path(ap), class: "btn btn-warning btn-sm"%></u>
					<u><%= link_to "Delete", ap, method: :delete, class: "btn btn-danger btn-sm"%></u>
				</td>
			</tr>
		<%end%>
	</tbody>
</table>